<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="waterfall-container"></div>

    <script src="/javascripts/jquery-1.8.3.min.js"></script>
    <script src="/javascripts/waterfall.js"></script>
    <script>
        var waterfall = new Waterfall({
            colums:[200,200,200,200],
            marginRight:20,
            marginBottom:40,
            container:$("#waterfall-container"),
            loadUrl:"./getImg"
        });
    </script>
  </body>
</html>
